body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
h1{
  color: red;
  text-align: center;
}
h3{
  align-items: baseline;

}
nav{
  align-items: center;
}
img{
  align-items: center;
  size: 900px;
}
a{
  margin-left: 10px;
  margin-right: 10px;
  background-color: gray;
}
figcaption{
  text-align: center;
  size: 20px;
}
#featured-property{
  size: 800px;
}

div{
  float: left;
  text-align: center;
  width: 25%;
  background-color: aqua;
}